
.idea/.name
/.idea/Arseev.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/.idea/php.xml
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/sqldialects.xml
/.idea/dataSources/2a69c75c-7e84-4233-9d9b-85bd4643e594/storage_v2/_src_/schema/sys.zb4BAA.zip
