#page{
    display: grid;
    grid-template-areas:
            "header header"
            "main main" ;
    grid-template-columns:1fr 1fr  ;
    grid-template-rows:1fr 1fr ;
}
#page>header{
    grid-area: header;
    text-align: center;
    background-color: blue;

}
#page>main{
    grid-area: main;
}
main {
    display: flex;
    justify-content: space-between;
    border: black;
    border-style: solid;
}
.period{
    flex-direction: column;

}
.row{
    flex-direction: column;

}
.group{
    border-style: solid;
}
.subgroup{
    display: flex;
    justify-content: space-between;
flex-direction: row;
}
.period,.row,.subgroup{
}
.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
}