.class1 {
    background: gold;
    width:35%;
    height: 35%;

}

.class2 {
    background: chartreuse;
    width:35%;
    height: 35%;

}

.class3 {
    background: red;
    width:70%;
    height: 70%;

}
.class1,.class2,.class3 {
    float: left;
    color: white;
}