.body {
    background: antiquewhite;
}

.main {
}

.header {
    text-align: center;
}

.photo {
    float: left;
}

.name {
}

.info {
font-size: large;
    display: inline-block;
    height: auto;
    width: calc(100% / 4);

}

.comment {
    font-size: large;
    display: inline-block;
    height: auto;
    width: calc(100% /6);
}